<h1 id="tableLabel">Employees list</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!employees"><em>Loading...</em></p>
<button class="btn btn-primary" *ngIf="employees" (click)="addEmployee()" >Add Employee</button>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="employees">
  <thead>
    <tr>
      <th>Name</th>
      <th>Emp Type</th>
      <th>Vac Accumulates</th>
      <th>Work Days</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employees" style="cursor:pointer;">
      <td (click)="editEmployee(emp)">{{ emp.name }}</td>
      <td>{{ emp.employeeType }}</td>
      <td>{{ emp.vacAccumalate }}</td>
      <td>{{ emp.workDays }}</td>
    </tr>
  </tbody>
</table>
